h1 #{paste.id}
p.metadata
  | pasted #[span(title="#{fullTimestamp}") #{postedAt}] by #{paste.submitter}.
  if expiresAt
    if paste.archive
      |  will be archived #{expiresAt}
    if !paste.archive
      |  expires #{expiresAt}
  |  | #[a(href="#{rawUrl}") view raw]
  if paste.contentType == "text/plain"
    |  | #[a#toggleWrapping(href="#") toggle wrapping]
