h1 #{paste.id}
p.metadata
  | pasted #[span(title="#{fullTimestamp}") #{postedAt}] by #{paste.submitter}. #[a(href="#{rawUrl}") view raw]
  if paste.contentType == "text/plain"
    |  | #[a#toggleWrapping(href="#") toggle wrapping]
