extends layout

block head
  if paste.encrypted === true
    script(src='/javascripts/openpgp.min.js')
    script(src='/javascripts/decrypt.js')
  if paste.vault
    script.
      window.vault = '#{paste.vault}';
block content
  #content
    include header.pug

    if paste.encrypted === true
      div#data #{data}
      p.
        #[a(href="#{rawUrl}") #[img#image.pasted(src="")]]

      p#decrypting Decrypting paste..

    if paste.encrypted === false
      p.
        #[a(href="#{rawUrl}") #[img#image.pasted(src="#{data}")]]

  include footer.pug
