extends layout

block content
  - var plural_active = (stats.count.active == 1 ? '' : 's')
  - var plural_archived = (stats.count.archived == 1 ? '' : 's')
  - var plural_expired = (stats.count.expired == 1 ? '' : 's')

  #content
    h1= title
    p.
      keeping track of

    ul
      li.
        #{stats.count.active} active paste#{plural_active} with a total size of #{stats.size.active}.
      li.
        #{stats.count.archived} archived paste#{plural_archived} with a total size of #{stats.size.archived}.
      li.
        #{stats.count.expired} expired paste#{plural_expired} that does no longer exist.

  include footer.jade

